{% extends 'base.html' %}

{% block main %}

<div class="card mb-4">
    <div class="card-header text-center">
        <h5 class="mb-0">Hisobingizni o'chirishni tasdiqlaysizmi?</h5>
    </div>
    <div class="card-body text-center">
        <p style="font-size: 1.125rem; color: #333;">Hisobingizni o'chirish jarayonida barcha shaxsiy ma'lumotlaringiz, shu jumladan, profil rasmingiz va sozlamalaringiz doimiy ravishda o'chiriladi va tiklanmaydi. Bu o'zgartirishlarni qaytarib bo'lmaydi, shuning uchun qaroringizni ehtiyotkorlik bilan qabul qilganingizga ishonch hosil qiling.</p>
        <p>Hisobingizni o'chirishga ishonchingiz komilmi?</p>
        <div class="mt-4">
            <a href="{% url 'delete_account_confirm' %}" class="btn btn-danger me-3">Ha, ishonchim komil</a>
            <a href="{% url 'settings' %}" class="btn btn-primary">Yo'q, qaytish</a>
        </div>
    </div>
</div>

{% endblock main %}
