{% extends 'base.html' %}

{% block main %}

<!-- Courses Section -->
<div class="container my-5">
    {% if courses %}
    <h2 class="text-center mb-4">Kurslarimiz</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for course in courses %}
        <div class="col">
            <div class="card h-100 shadow-sm border-light">
                <div class="position-absolute top-0 end-0 p-2">
                    {% if perms.manager.change_course %}
                    <a href="{% url 'updateCourse' course.id %}" class="text-dark me-2">
                        <i class="fas fa-pen"></i>
                    </a>
                    {% endif %}

                    {% if perms.manager.delete_course %}
                    <a href="{% url 'deleteCourse' course.id %}" class="text-dark">
                        <i class="far fa-trash-can"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">Qo'shilgan sana: {{ course.created_at }}</p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary w-100">Kursga o'tish</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center mb-4">Hozirda kurslar mavjud emas.</h2>
    {% endif %}
</div>

<!-- Students Section -->
<div class="container my-5">
    {% if students %}
    <h2 class="text-center mb-4">Talabalarimiz</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for student in students %}
        <div class="col">
            <div class="card shadow-sm border-light">
                <div class="card-body">
                    <h5 class="card-title">{{ student.name }} {{ student.lastname }}</h5>
                    <p class="card-text">{{ student.course.title }}</p>
                    <a href="{% url 'student_detail' student.id %}" class="btn btn-outline-primary w-100">
                        <i class="fas fa-info-circle"></i> Batafsil
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center mb-4">Hozirda talabalar mavjud emas.</h2>
    {% endif %}
</div>

{% endblock main %}