{% extends 'base.html' %}

{% block main %}

<form method="POST" enctype="multipart/form-data" class="p-4 shadow rounded bg-white">
    {% csrf_token %}

    {% if forms.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show text-center position-fixed top-0 start-50 translate-middle-x mt-3"
         role="alert" style="width: 50%; z-index: 1050; margin-top: 10px;">
        {% for error in forms.non_field_errors %}
        <p style="font-size: 0.875rem;">{{ error }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Shaxsiy Ma'lumotlar -->
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-address-card me-2"></i>
            <h5 class="mb-0">Shaxsiy ma'lumotlar</h5>
        </div>

        <div class="card-body">
            {% for field in forms %}
            {% if field.name in "username, first_name last_name phone email" %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

                {% if field.name == "phone" %}
                <div class="input-group">
                    <span class="input-group-text">+998</span>
                    {{ field }}
                </div>
                {% else %}
                {{ field }}
                {% endif %}

                {% if field.errors %}
                <div class="alert alert-danger alert-dismissible fade show text-center position-fixed top-0 start-50 translate-middle-x mt-3"
                     role="alert" style="width: 50%; z-index: 1050; margin-top: 10px;">
                    {% for error in field.errors %}
                    <p style="font-size: 0.875rem;">{{ error }}</p>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Parollar -->
<!--    <div class="card mb-4">-->
<!--        <div class="card-header d-flex align-items-center">-->
<!--            <i class="fas fa-key me-2"></i>-->
<!--            <h5 class="mb-0">Parollar</h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            {% for field in forms %}-->
<!--            {% if field.name in "current_password password password_repeat" %}-->
<!--            <div class="mb-3">-->
<!--                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>-->
<!--                {{ field }}-->

<!--                {% if field.errors %}-->
<!--                <div class="alert alert-danger alert-dismissible fade show text-center position-fixed top-0 start-50 translate-middle-x mt-3"-->
<!--                     role="alert" style="width: 50%; z-index: 1050; margin-top: 10px;">-->

<!--                    {% for error in field.errors %}-->
<!--                    <p style="font-size: 0.875rem;">{{ error }}</p>-->
<!--                    {% endfor %}-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="alert"-->
<!--                            aria-label="Close"></button>-->
<!--                </div>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->

    <!-- Rasm Tanlash -->
    <div class="card mb-4 text-center">
        <div class="card-header d-flex align-items-center justify-content-center">
            <i class="fas fa-camera me-2"></i>
            <h5 class="mb-0">Profil rasm</h5>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-center flex-column">
                {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="Profil Rasm" class="rounded-circle mb-3"
                     style="width: 150px; height: 150px; object-fit: cover; border: 2px solid #ddd;">
                {% else %}
                <img src="https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max" alt="Profil Rasm"
                     class="rounded-circle mb-3"
                     style="width: 150px; height: 150px; object-fit: cover; border: 2px solid #ddd;">
                {% endif %}
                <div class="mb-3 w-50">
                    {{ forms.photo }}
                    <a href="{% url 'remove_picture' %}" class="btn btn-danger btn-sm mt-3">Rasmni o'chirish</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Saqlash Tugmasi -->
    <a href="{% url 'delete_account' %}" class="btn btn-danger mt-3 w-100">
        <i class="fas fa-trash me-2"></i>Hisobni o'chirish
    </a>
    <button type="submit" class="btn btn-primary mt-3 w-100">
       <i class="fas fa-cloud me-2"></i>Saqlash
    </button>
</form>

{% endblock main %}
