<!-- Footer -->
<footer class="bg-light text-center py-4">
  <div class="container">
    <section class="mb-4">
      <a class="btn btn-social btn-facebook" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-social btn-twitter" href="#" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-social btn-google" href="#" role="button"><i class="fab fa-google"></i></a>
      <a class="btn btn-social btn-instagram" href="#" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-social btn-linkedin" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
    </section>

    <div class="text-muted">
      © {{ current_year }} Najot Ta'lim. Barcha huquqlar himoyalangan.
    </div>
  </div>
</footer>